* {
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    height: 10vh;
}

.navbar {
    background-color: #333;
    /* Background color */
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    /* To separate elements to the ends */
    align-items: center;
    /* To vertically align elements */
}

.logo {
    float: left;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 900;
    font-size: 24px;
}

.menu {
    text-align: center;
    /* Center align the menu */
}

.menu a {
    display: inline-block;
    /* Display menu items in a line */
    color: white;
    /* Text color for the menu items */
    text-align: center;
    /* Center align the text */
    padding: 14px 16px;
    /* Add spacing around the menu items */
    text-decoration: none;
    /* Remove underline from menu items */
}

.menu a:hover {
    background-color: #ddd;
    /* Background color on hover */
    color: black;
    /* Text color on hover */
}

.right-icons {
    display: flex;
    /* Display icons in a row */
    align-items: center;
    /* Vertically align icons */
}

.search-bar {
    margin-right: 10px;
    max-width: 200px;
    height: 26px;
    border-radius: 7px;
    border: none;
    padding-left: 10px;
    /* Add margin between search bar and icons */
}


/* Add styling for notification icon */

.notification-icon {
    color: white;
    font-size: 24px;
    margin-right: 16px;
}

main {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-div {
    width: 80%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.profile {
    flex: 1;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.profile ul {
    height: 80%;
    width: 100%;
    background-color: #fff;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile ul li {
    margin: 7px;
}

#skills {
    margin-bottom: 15px;
    font-weight: bold;
}

.image-container {
    flex: 1;
    text-align: center;
    height: 70%;
}

.image-container img {
    border-radius: 5px;
}

.image-caption {
    margin-top: 10px;
    font-style: italic;
}

.current-time {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    text-align: right;
    height: 70%;
}

footer {
    width: 100%;
    height: 10vh;
    background-color: #ddd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}